<div class="call-details">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Call ID:  {{call.id}}</h4>
    <button type="button" class="btn-close close pull-right" (click)="closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row mt-5">
      <div class="col-6">
        <label>Crated</label>
        <p class="value">{{call.created_at}}</p>
      </div>
      <div class="col-6">
        <label>Archived</label>
        <p class="value">{{call.is_archived}}</p>
      </div>
      <div class="col-6">
        <label>Call Type</label>
        <p class="value">{{call.call_type}}</p>
      </div>
      <div class="col-6">
        <label>Via</label>
        <p class="value">{{call.via}}</p>
      </div>
    </div>
  </div>
</div>